<% @page_title = "Import an account" %>
<div class="panel panel--centered flex flex-column gap" style="--panel-size: 54ch;">
  <header>
    <h1 class="txt-x-large font-weight-black txt-tight-lines margin-block-end-none">Import a Fizzy account</h1>

    <% if Fizzy.saas? %>
      <div class="font-weight-semibold margin-block-end">Move a self-hosted account to fizzy.do</div>
      <div>Export your self-hosted account, then upload the .zip file below.</div>
    <% else %>
      <div class="font-weight-semibold margin-block-end">Move an account from fizzy.do to a self-hosted instance</div>
      <div>Export your fizzy.do account, then upload the .zip file below.</div>
    <% end %>
  </header>

  <%= form_with url: account_imports_path, class: "flex flex-column gap", data: { controller: "form upload-preview" }, multipart: true do |form| %>
    <label class="btn input--upload">
      <div data-upload-preview-target="placeholder">Choose a file…</div>
      <div data-upload-preview-target="fileName" hidden></div>
      <%= form.file_field :file, accept: ".zip", required: true, data: { action: "upload-preview#previewFileName", upload_preview_target: "input" } %>
    </label>

    <button type="submit" class="btn btn--link center" data-form-target="submit">
      <span>Start Import →</span>
    </button>
  <% end %>
</div>

<% content_for :footer do %>
  <%= render "sessions/footer" %>
<% end %>
